
.details{

    background-color: rgb(205, 178, 231);
}
.welcome{
    background-color: rgb(250, 250, 250);
    text-align: center;
    padding: 100% 0;
    color: aliceblue;

    
}
h1{
    text-align: left;
    color: aliceblue;
    font-size:large;
    font-family: 'Courier New', Courier, monospace;

}
h3{
    color: black;
}
h4{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(11, 77, 116);
}

table{
  
    border: 2px white;
    width: 800px;
    height: 200px;
    margin-left: 25%;
    margin-right: 25%;

   
}
th{
    text-align: center;
    color: beige;
}
td{
    text-align: center;
    color: beige;
}
.content{
    position:left;
   
    width: 20%;
    height: 30%;
    color:rgb(19, 75, 107)
  }
    
  .text{
    display: inline;
    width:30%;
    color: rgb(17, 39, 110);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5XXQoSeA347qRukwp7Ny0LB0f9ip5bjOJZg&usqp=CAU);
  }
    
  .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
  }
  .memform{
      background-color: aliceblue;
  }
  .projform{
      background-color: aliceblue;
  }
.home{
     color: rgb(221, 236, 236);
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
  }
h2{
    color: rgb(209, 224, 224);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6cm;
 }
 p{
     font-family: 'Courier New', Courier, monospace;
     color:rgb(219, 236, 231);
     
 }
.project-name{
    font-size: 5rem;
    text-align: center;
}
.sub-heading{
    font-size: 2rem;

}
.projects-heading
{
    font-size: 5rem;
    text-align: center;
}
b{
    color: aliceblue;
}
.Type{
    font-family: sans-serif;
  font-weight:800;
  font-size:90px;
  text-align: center;
  display:flex;
  justify-content:center;
  
  min-height:35vh;
  color: aliceblue;
  margin-top: 15vh;
  
}
